<h1>Create a Recipe</h1>

    <form action='/recipe' method="POST">
        <h4>Name</h4>
        <p>
            <input type="text" name="name" id="name" required>
        </p>
        <h4>Ingredients</h4>
        <p>
            <input type="text" name="ingredients" id="ingredients" required>
        </p>
        <h4>Cook time</h4>
        <p>
            <input type="text" name="cook_time" id="cook_time" required>
        </p>
        <input type="submit" value="Log In">
    </form>